django
django-extensions
djangorestframework
drf_spectacular
django-debug_toolbar
schema
whitenoise

nicegui
nicegui-highcharts
ex4nicegui
nicegui_tabulator
niceguitoolkit

pyinstaller
python-dotenv
loguru
aiohttp
requests
ipython
lupa

notebook
